:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --imgBtn-img-size: 60px;
  --item-img-size: 50px;
  --colorBtn-font-size: 20px;
  --box-border: 5px;

  /* space */
  --btn-space: 8px;
  --items-space: 60%;
}

* {
  box-sizing: content-box;
}

body {
  background-color: var(--color-black);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home__logo {
  height: calc(var(--imgBtn-img-size) * 2);
  width: calc(var(--imgBtn-img-size) * 2);
  margin-top: calc(var(--btn-space) * 2);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBtn {
  height: var(--imgBtn-img-size);
  width: var(--imgBtn-img-size);
  margin: var(--btn-space);
}

.colorBtn {
  font-size: var(--colorBtn-font-size);
  margin: var(--btn-space);
  padding: var(--btn-space);
  border-radius: var(--box-border);
}

.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

.items {
  list-style: none;
  padding-left: 0;
  width: 60%;
  height: 60%;
  overflow-x: scroll;
}

.item {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-radius: var(--box-border);
  padding: var(--btn-space);
  margin-bottom: var(--btn-space);
}

.item__img {
  height: var(--item-img-size);
  width: var(--item-img-size);
  margin-right: var(--btn-space);
}
